@use "sass:map";

$brand-theme-colors: (
  "primary": #417B51,
  "secondary": #aa96da,
  "success": #7BB368,
  "danger": #9F5332,
  "warning": #ffffd2,
  "info": #96a9da,
);

$primary:   map.get($brand-theme-colors, "primary");
$secondary: map.get($brand-theme-colors, "secondary");
$success:   map.get($brand-theme-colors, "success");
$info:      map.get($brand-theme-colors, "info");
$warning:   map.get($brand-theme-colors, "warning");
$danger:    map.get($brand-theme-colors, "danger");

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body { background-color: #E9E5E1 }
.white { background-color: white; }